@model IEnumerable<WebApplication2.Models.Product>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.title = "Listagem dos Fabricantes";
}

<div class="card">
    <div class="card-header bg-prymary">Relação dos fabricantes cadastrados</div>
    <div class="card-body">
        <table id="table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Product id
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th> <th>
                        Categoria
                    </th> <th>
                        Fabricante
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (item.Category != null)
                            {
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            }
                            else
                            {
                                <span>Sem categoria</span>
                            }
                        </td>
                        <td>
                            @if (item.Manufacturer != null)
                            {
                                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                            }
                            else
                            {
                                <span>Sem categoria</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-prymary">
        @Html.ActionLink("Create New", "Create", "Product", null, new {@class = "btn btn-outline-success"})
    </div>
</div>


@section ScriptPage{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.active').removeClass('active');
            $('a#product').addClass('active');
            $('#table').DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}

